<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ContactEmail" value="au@turingion.com" />
        <add key="Domains" value="suppo.biz, *.suppo.biz" />
        <add key="CertificateFileName" value="Suppo.biz" />
        <add key="CertificatePassword" value="YourSuperSecretPassword" />
    </appSettings>
</configuration>